body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #007bff;
}

.container {
  max-width: 400px;
  margin: 50px auto;
  padding: 40px;
  border: 1px solid #828282;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 5px #0000008c;
}

.form-group {
  margin-bottom: 20px;
  text-align: center;
}

.form-group h2 {
  color: #3cff00;
}

label {
  display: block;
  margin-bottom: 5px;
}

select {
  padding: 10px;
  width: 50%;
  font-size: 15px;
  text-align: center;
  margin: 10px;
  border-radius: 15px;
  cursor: pointer;
}

input[type="number"] {
  width: 80%;
  padding: 10px;
  border-radius: 5px;
  font-size: 15px;
  text-align: center;
  border: 1px solid #ccc;
}

button {
  margin: 15px;
  width: 50%;
  padding: 10px;
  border: none;
  font-size: 15px;
  border-radius: 7px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

button:hover {
  transition: 0.5s ease-in-out;
  background-color: #0056b3;
  box-shadow: 0 2px 7px #007bff;
}
