<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Two Input Calculator</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="style.css") }}">
    <link
      rel="shortcut icon"
      href="https://cdn2.iconfinder.com/data/icons/ios7-inspired-mac-icon-set/512/Calculator_512.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <h1>Two Input Calculator</h1>
    <div class="container">
      <div class="form-group">
        <form method="POST">
          <label for="first-input">
            <input
              placeholder="Enter first number here"
              type="number"
              name="num1"
              required
            />
          </label>
          <select name="operation" required>
            <option selected disabled value="">Select the operator</option>
            <option value="add">+</option>
            <option value="subtract">-</option>
            <option value="multiply">*</option>
            <option value="divide">/</option>
            <option value="floor_division">//</option>
            <option value="mod">%</option>
            <option value="sqrt">&Sqrt;'</option>
            <option value="cube_root">&#8731;</option>
          </select>
          <label for="second-input">
            <input
              placeholder="Enter second number here"
              type="number"
              name="num2"
              required
            />
          </label>
          <button type="submit">Submit</button>
        </form>
        <h2>Result: {{ result }}</h2>
      </div>
    </div>
  </body>
</html>
